.contact {
    background: linear-gradient(273.37deg, #73CEE3 1.45%, #2C90A8 119.64%);
    width: 85%;
    margin: 0 auto;
    height: 12 rem;
    margin-top: 3rem;
    border-radius: 1.2rem;
    text-align: center;
    color: white;
    padding-top: 0.5rem;
    margin-bottom: 4rem;
    padding-bottom: 2rem;
    h2 {
        font-size: 2.3rem;
    }
    div {
        display: flex;
        width: 90%;
        align-items: center;
        margin: 0 auto;
        div {
            display: flex;
            flex-direction: column;
            text-align: start;
            align-items: flex-start;
            width: 40%;
            gap: 0.7rem;
            input {
                width: 85%;
                height: 2.4rem;
                border: none;
                border-radius: 0.2rem;
                padding-left: 1rem;
                color: #0D0D0D;
                outline: none;
            }
        }
        button {
            width: 32%;
            height: 2.6rem;
            background: #2C90A8;
            border: none;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 1.8rem;
            border-radius: 2rem;
        }
    }
}