.navbar {
    display: flex;
    // width: 100%;
    flex-direction: row;
    // background: #2C90A80D;
    justify-content: space-between;
    align-items: center;
    font-family: "OpenSans-SemiBold", sans-serif;
    padding: 0.5rem;
    width: 85%;
    margin: 0 auto;
    .bm-burger-bars {
        background-color: #2C90A8;
    }
    .bm-burger-button {
        top: 1.8%;
        height: 1.5rem;
        width: 2rem;
    }
    .bm-menu {
        background-color: #2C90A8;
        display: flex;
        justify-content: center;
        left: 0;
    }
    .bm-cross-button,
    .cross-style {
        left: 88%;
        top: 3%;
    }
    .bm-item-list>* {
        color: white;
        list-style: none;
    }
    &__logo {
        cursor: pointer;
        img {
            height: 2rem;
        }
    }
    &__links {
        display: flex;
        ul {
            a {
                text-decoration: none;
                color: black;
            }
            display: flex;
            justify-content: space-between;
            align-items: center;
            li {
                font-weight: 500;
                cursor: pointer;
                list-style: none;
                margin: 1.5rem;
                font-size: 1rem;
                &:hover {
                    color: #2C90A8;
                }
            }
        }
        .contact__link {
            background-color: #2C90A8;
            color: white;
            border-radius: 50px;
            height: 2.8rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    // &__address {
    //     display: flex;
    //     div {
    //         display: flex;
    //         align-items: center;
    //         margin: 1rem;
    //         text-align: start;
    //         img {
    //             height: 1.5rem;
    //         }
    //         h4 {
    //             text-align: start;
    //             margin-left: 0.7rem;
    //             text-decoration: underline;
    //             font-weight: 500;
    //             line-height: 1.2rem;
    //             font-size: 0.7rem;
    //         }
    //     }
    // }
}