.partners {
    padding-bottom: 2rem;
    width: 85%;
    margin: 0 auto;
    &__cards {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
        margin-top: 2rem;
        margin-bottom: 2rem;
        gap: 2rem;
        column-gap: 4rem;
        div {
            width: 20%;
            border-radius: 0.8rem;
            background: white;
            height: 10rem;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            img {
                height: 30%;
            }
        }
    }
    &__id {
        .partner {
            padding-top: 1%;
            display: flex;
            // align-items: center;
            width: 90%;
            margin: 0 auto;
            justify-content: space-between;
            .partner__image {
                margin-top: 10%;
                width: 45%;
                height: 50%;
                // background-color: red;
                img {
                    height: 100%;
                    width: 100%;
                }
            }
            .partner__text {
                width: 40%;
            }
        }
    }
}