.partners {
    // background: #F5F5F5;
    padding-bottom: 2rem;
    width: 85%;
    margin: 0 auto;
    &__cards {
        // padding-left: 1.5%;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
        margin-top: 2rem;
        margin-bottom: 2rem;
        gap: 2rem;
        column-gap: 4rem;
        div {
            width: 20%;
            border-radius: 0.8rem;
            background: white;
            height: 10rem;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            img {
                height: 3.5rem;
            }
        }
    }
}